# JetBrains
*.iml
.idea/

# General
openmaptiles/
*.mbtiles
*.pmtiles
*.osm.pbf
*.o5m
*.osm.bz2
*.tar.gz
**/pmtiles
tilemaker/tilemaker
changesets-bz2-rss.xml
**/osmupdate_temp/
*.csv
/schema/node_modules
